{% extends "infomont_app/base_template.html" %}
{% block content %}

<style>
/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #222;
    background: rgba(255,255,255,0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.pagina {
    width:95%;
    font-size:12pt;
}
.pagina td:first-child{
    width:30%;
}
.pagina td:nth-child(2){
    width:70%;
}

.blue{
    color: #44b;
}

h3 {
    padding: 10px 20px;
}

.glyphicon{
    margin-right: 10px;
    font-size:14pt;
}

input[type='text']{
    width:100%;
}
</style>


<div style="border-bottom:1px solid gray;">

    <div class="container" style="width:90%;">
        <div class="col-md-2" style="padding: 10px;">
            <a href="/lista" class="btn btn-gray" style="border:1px solid gray; margin:0; font-size:12pt;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>   Indietro</a>
        </div> 
        <div class="col-lg-10 col-md-10" style="padding: 10px 0;">
            <h4><b>{{ object.nome }}</b> ({{ object.localita }}, Sezione di {{ object.sezione }})</h4>    
        </div> 
        
        
        <div class="row">
        {% for field in campi_barra %}
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" style="padding:5px !important; margin:0; text-align:right;">
                <p>{{ field.nome }}:</p>    
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" style="padding:5px !important; margin:0;">
                <p><b>{{ field.valore }}</b> </p>
            </div> 
            
        {% if forloop.counter == 4 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
        </div>
        
    </div>
</div>




<div class="container" style="width:100%;margin:0;padding:0!important;">

  <div class="col-lg-3 col-md-3" style="padding-top:20px;">
      <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            
                {% for gruppo in gruppi %}
                    
                    <li>
                       <p class="blue" style="font-size:12pt; margin:0 !important;">{{ gruppo.nome }}</p>
                    </li>
                    
                    {% for pagina in gruppo.pagine %}
                    <li>
                        <a href="/rifugi/{{ rifugio.id }}/{{ pagina.nome|cut:' ' }}" style="padding-left:0px;">
                            <span class="glyphicon glyphicon-{{ pagina.glyph }}" aria-hidden="true"></span>
                            {{ pagina.nome }}
                        </a>
                    </li>
                    {% endfor %}
                    
                {% endfor %}
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    </div><!-- /.blog-sidebar -->

    <div class="col-lg-9 col-md-9" style="min-height:67vh; margin:0; background:white; border-left:1px solid gray; padding-left:50px;">
    
        <h3 class="blue">Modifica</h3>
        <form method="post" style="margin-bottom:30px;">
            {% csrf_token %}
            <table class="table">
            {{ form }}
            </table>
            <input class="btn btn-primary" type="submit" value="Salva" />
            <a href="../{{ url_pagina }}" class="btn btn-gray pull-right">Annulla</a>
        </form>
        
        
    </div><!-- main -->
    
</div><!-- row -->
   
{% endblock %}
