{% extends "infomont_app/base_template.html" %}
{% block content %}

    <style>
    td, th {
        padding: 20px 40px !important;
        width:5% !important;
        vertical-align: middle !important;
    }
    
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    
    
    </style>
    
    <div style="height:55vh; overflow-y:scroll;">
    <table class="table table-hover center" style="background:white;width:100%;margin:0;">
        <tr>
           <td>rifugio Camerini</td>
           <td>valmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalencovalmalenco</td>
           <td>Sovico</td>
           <td>Lombardia</td>
        <tr>
        <tr>
           <td>rifugio Camerini</td>
           <td>valmalenco</td>
           <td>Sovico</td>
           <td>Lombardia</td>
        <tr>
        <tr>
           <td>rifugio Camerini</td>
           <td>valmalenco</td>
           <td>Sovico</td>
           <td>Lombardia</td>
        <tr>
        <tr>
           <td>rifugio Camerini</td>
           <td>valmalenco</td>
           <td>Sovico</td>
           <td>Lombardia</td>
        <tr>
        <tr>
           <td>rifugio Camerini</td>
           <td>valmalenco</td>
           <td>Sovico</td>
           <td>Lombardia</td>
        <tr>
        <tr>
           <td>rifugio Camerini</td>
           <td>valmalenco</td>
           <td>Sovico</td>
           <td>Lombardia</td>
        <tr>

      </table>
      </div>
        
     <script>
    
        window.addEventListener('DOMContentLoaded', function () {
            $("tr").click(function(){
                console.log("works");
                window.location = "rifugi/1/main";
            });
            
            $(function () {
              $('[data-toggle="popover"]').popover()
            })
            
        })
        
        
        
    </script>
    
    
{% endblock %}
