{% extends "infomont_app/base_template.html" %}
{% block content %}

        <div id="map" style="height: 79vh; width: 100%; margin:auto;"></div>
        
        <script>
        
          function initMap() {
          
            var rifugio = {lat: 46.3093808, lng: 9.7374249 };
            var bounds = new google.maps.LatLngBounds();
            
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 11,
              center: rifugio,
              mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.TERRAIN]
                },
              mapTypeId: google.maps.MapTypeId.TERRAIN
            });
            
            var markers = []
            var infoWindows = []
            
            {% for rifugio in coordinate %}
                rifugio.lat = {{ rifugio.lat }}
                rifugio.lng = {{ rifugio.lng }}
                
                var mark{{ forloop.counter }} =  new google.maps.Marker({
                  position: rifugio,
                  map: map
                });
                markers.push(mark{{ forloop.counter }});
                
                var info{{ forloop.counter }} = new google.maps.InfoWindow({
                    content: `{% include 'infomont_app/infoWindow.html' %}`
                })
                infoWindows.push( info{{ forloop.counter }} );
                 
                bounds.extend(rifugio);
                map.fitBounds(bounds);
                
                google.maps.event.addListener(mark{{ forloop.counter }}, 'click', function() {
                    
                    for (var i=0;i<infoWindows.length;i++) {
                        infoWindows[i].close();
                    }
                    
                    info{{ forloop.counter }}.open(map, mark{{ forloop.counter }} );   
                });
            {% endfor %}
            
          }
          
          
        </script>
        
        <!-- Protect the key!! -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc7S8mm7MKiAZIzSY7okEwxsA9Q6_hnD0&callback=initMap"></script>

    
    
{% endblock %}
